# ไม่เอาไฟล์ระบบและ Cache ของ Python
__pycache__/
*.pyc
.env

# ไม่เอาโฟลเดอร์ Dataset และรูปภาพ
raw_data/

# ไม่เอาไฟล์โมเดล (เพราะไฟล์ .pt ของ YOLO มักจะใหญ่เกิน 100MB)
*.pt

# ไม่เอาไฟล์ชั่วคราวและไฟล์ Zip ที่เกิดจากระบบ EVA ของคุณ
*.zip
solar_eva_temp_*/

# ไม่เอา Log ของ MLflow
mlruns/